@font-face {
    font-family: 'AR-ial';
    src: url('subset-AR-ial-Regular.woff2') format('woff2'),
        url('subset-AR-ial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

